span {
  color: var(--color-span);
  padding-right: 50px;
}

.select {
  padding: 10px 20px;
  color: #9b9b9b;
  box-sizing: border-box;
  border-width: 0;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px var(--color);
}

@media (max-width: 480px) {
  .select {
    width: 100px;
  }
}

.select:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color);
}
