.img {
  width: 300px;
  position: absolute;
  right: 20%;
}

@media (max-width: 480px) {
  .img {
    width: 200px;
  }
}

.containerForm {
  padding: 50px;
  width: 60%;
  height: auto;
  border-radius: 10px;
  margin: 50px auto auto auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: grey;

  h1 {
    color: var(--color);
    font-size: var(--font-size-b);
    font-weight: 900;
  }
}

@media (max-width: 480px) {
  .containerForm {
    width: 100%;
    padding-top: 160px;
    box-shadow: none;
  }
}

.buttonFiltered {
  background: transparent;
}
