* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vh;
  height: 100vh;
  font-family: Pacifico, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

span {
  font-family: Poppins, sans-serif;
}
